!!!5
%html
  %head
    %link{ :rel => "stylesheet", :href => "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" }
    %link{ :rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" }
    %link{ :rel => "stylesheet", :href => "/assets/css/main.css" }
    %link{ :rel => "stylesheet", :href => "/bower_components/remodal/dist/jquery.remodal.css" }
  %body
    .remodal-bg
      .remodal{ :data => {:remodal_id => "modal"}}
        .modal
          %p Built is currently at capacity for new work. If you wish to hire our services, follow us on Twitter of Facebook for updates on our availabilty.
          %a{:href => "http://twitter.com/builthq"}
            %button.btn-tw Follow Built on Twitter
          %a{:href => "http://facebook.com/builthq"}
            %button.btn-fb Like Built on Facebook
          %p Alternatively you can contact us by email:
          %a{:href => "mailto:vincent@built.ie?Subject=Built%20Contact%20Form"}
            %button.btn-em Contact built by email.

    %nav
      .container
        %a{:href => "#modal"}
          %button Contact
    .container
      %header
        %img{:src => "assets/images/logo-large-white.png"}
        %h1 development, design & strategy
        %a{:href => "#modal"}
          %button.btn-accent.btn-hollow.btn-big Contact Built
      %section
        .container
          %h1 development, design & strategy
          %p Built helps you design and implement a product strategy across online platforms. We bring our experience building companies, operating within confined budgets and building for growth to our client projects. This site is under construction, but we're open for business. If you're interested in getting a site built, or checking out our porfolio - get in contact <a href="#">here.</a>
          %img{:src => "http://hire.ly/assets/img/browser.png"}
      %footer
        %p &copy; Built 2014

    %script{:type => "text/javascript", :src => "/bower_components/jquery/dist/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/bower_components/remodal/dist/jquery.remodal.min.js"}
    %script{:type => "text/javascript", :src => "/assets/js/main.js"}
