// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$talent150-blue: #0078be;
$blue: #85b4cc;
$dark-gray: #5f6a7d;
$medium-gray: #999;
$light-gray: #f5f5f5;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$facebook-blue: #4c66a4;

$white: #fff;
$gold: #b5af7b;
$red: rgb(166,2,2);
$light-gray: lighten($medium-gray, 35%);
$medium-gray:#29333a;
$dark-gray:#1a2026;

$accent: $white;
$h2header-color: lighten($medium-gray, 65%);

// Body Color
$base-body-color: $light-gray;

//  Font Colors
$base-font-color: $light-gray;
$base-accent-color: $talent150-blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Button Colors

$button-hover-color: $talent150-blue;
$button-base-color: $talent150-blue;
// Layout Colors
///////////////////////////////////////////////////////////////////////////////

$base-background-color: $light-gray;
