.modal{
  background:white;
  text-align:center;
  color:$dark-gray;
  p{
    @include pad(0.5em 0);
  }
  h1{
    @include pad(0.5em 0);
  }
  @include pad(2em);
  img{
    width:30%;
    margin:5% 0;
  }
  input{
    margin:2% 2%;
    width:200px;
  }
  footer{
    height:100%;
    background:white;
  }
  ol{
    display:inline-block;
  }
  .btn-tw{
    background: $twitter-blue;
    width:49%;
    margin:2% 0;
    float:left
  }
  .btn-em{
    background: lighten($medium-gray,15%);
    width:100%;
  }
  .btn-fb{
    background: $facebook-blue;
    width:49%;
    margin:2% 0;
    float:right;
  }
  button{
    display:block;
    color:white;
    border:1px solid white;
  }
  i{
    font-size:2em;
    vertical-align:middle;
    margin-top:-5px;
    margin-right:0.5em;
  }
  section{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity:0.5;
    -webkit-filter:blur(1px);
    button{
      max-width:600px;
      margin:2% auto;
    }
  }
  section:hover{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity:1;
    -webkit-filter:blur(0px);
  }
  ul{
    max-width:600px;
    margin:5% auto;
    padding:0;
  }
  li{
    list-style-type:none;
    display:inline;
  }
}
