nav{
  height:80px;
  background:$white;
  button{
    font-size:0.8em;
    border:$button-base-color 2px solid;
    padding:0.5em 2em;
    color:$button-base-color;
    float:right;
    margin:20px;
  }
}
